In [2]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

df= pd.read_csv(r"C:\Users\akash\OneDrive\Documents\AIML_projs\teams.csv")
teams=df[ ['team','country','year','athletes','age','prev_medals','medals'] ]

teams

     team      country  year  athletes   age  prev_medals  medals
0     AFG  Afghanistan  1964         8  22.0          0.0       0
1     AFG  Afghanistan  1968         5  23.2          0.0       0
2     AFG  Afghanistan  1972         8  29.0          0.0       0
3     AFG  Afghanistan  1980        11  23.6          0.0       0
4     AFG  Afghanistan  2004         5  18.6          0.0       0
...   ...          ...   ...       ...   ...          ...     ...
2139  ZIM     Zimbabwe  2000        26  25.0          0.0       0
2140  ZIM     Zimbabwe  2004        14  25.1          0.0       3
2141  ZIM     Zimbabwe  2008        16  26.1          3.0       4
2142  ZIM     Zimbabwe  2012         9  27.3          4.0       0
2143  ZIM     Zimbabwe  2016        31  27.5          0.0       0

[2144 rows x 7 columns]

In [3]:
# to find rows with missing values :
teams[teams.isnull().any(axis=1)]

teams=teams.dropna()


train_set= teams[ teams['year']<2012].copy()
test_set = teams[ teams['year']>=2012].copy()

In [8]:
train_set

     team      country  year  athletes   age  prev_medals  medals
0     AFG  Afghanistan  1964         8  22.0          0.0       0
1     AFG  Afghanistan  1968         5  23.2          0.0       0
2     AFG  Afghanistan  1972         8  29.0          0.0       0
3     AFG  Afghanistan  1980        11  23.6          0.0       0
4     AFG  Afghanistan  2004         5  18.6          0.0       0
...   ...          ...   ...       ...   ...          ...     ...
2137  ZIM     Zimbabwe  1992        28  21.2          0.0       0
2138  ZIM     Zimbabwe  1996        21  23.8          0.0       0
2139  ZIM     Zimbabwe  2000        26  25.0          0.0       0
2140  ZIM     Zimbabwe  2004        14  25.1          0.0       3
2141  ZIM     Zimbabwe  2008        16  26.1          3.0       4

[1609 rows x 7 columns]

In [9]:
test_set

     team      country  year  athletes   age  prev_medals  medals  predictions
6     AFG  Afghanistan  2012         6  24.8          1.0       1          0.0
7     AFG  Afghanistan  2016         3  24.7          1.0       0          0.0
24    ALB      Albania  2012        10  25.7          0.0       0          0.0
25    ALB      Albania  2016         6  23.7          0.0       0          0.0
37    ALG      Algeria  2012        39  24.8          2.0       1          2.0
...   ...          ...   ...       ...   ...          ...     ...          ...
2111  YEM        Yemen  2016         3  19.3          0.0       0          0.0
2131  ZAM       Zambia  2012         7  22.6          0.0       0          0.0
2132  ZAM       Zambia  2016         7  24.1          0.0       0          0.0
2142  ZIM     Zimbabwe  2012         9  27.3          4.0       0          2.0
2143  ZIM     Zimbabwe  2016        31  27.5          0.0       0          0.0

[405 rows x 8 columns]

## Model Training

In [4]:
reg=LinearRegression()
predictors=['athletes','prev_medals']
target=['medals']
reg.fit(train_set[predictors],train_set[target])

LinearRegression()

In [5]:

predictions= reg.predict(test_set[predictors])
test_set['predictions']= predictions

test_set.loc[test_set['predictions']<0,'predictions']=0
test_set['predictions']=test_set['predictions'].round()
error = mean_absolute_error(test_set['medals'],test_set['predictions'])

In [6]:
teams.describe()['medals']

count    2014.000000
mean       10.990070
std        33.627528
min         0.000000
25%         0.000000
50%         0.000000
75%         5.000000
max       442.000000
Name: medals, dtype: float64

In [7]:
test_set[test_set['team'] =='USA']

,team,country,year,athletes,age,prev_medals,medals,predictions
2053,USA,United States,2012,689,26.7,317.0,248,285.0
2054,USA,United States,2016,719,26.4,248.0,264,236.0